.container {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.stickyFooter {
  position: fixed;
  background-color: rgb(255, 30, 0);
  height: 700px;
  width: 100%;
  bottom: 0;
}
