.container {
  position: relative;
  background-color: rgb(243, 239, 235);
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutText {
  font-size: 40px;
  font-family: "NohemiLight";
  padding: 150px;
  line-height: 1.2;
  letter-spacing: medium;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.3;
}
