.container {
  background-color: #f8f5f3;
  height: 110vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.aboutText {
  font-size: 7vh;
  font-family: "NohemiSemiBold";
  padding: 150px;
  line-height: 1.2;
  letter-spacing: medium;
  display: flex;
  text-align: right;
  flex-wrap: wrap;
}
.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.shadow {
  position: absolute;
  opacity: 0.6;
  color: transparent; /* Transparent fill */
  text-shadow: 0 0 0.7vh black;
}

@media (max-width: 768px) {
  .container {
    min-height: 90vh; /* Ensure full height on mobile */
  }

  .aboutText {
    font-size: 5vh; /* Smaller font for mobile */
    padding: 30px; /* Much less padding on mobile */
  }

  .word {
    margin-right: 8px; /* Slightly less spacing between words */
    margin-top: 8px;
  }
}
