.container {
  color: rgb(255, 30, 0);
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  font-family: "NohemiBlack";
  font-size: 2.8vh;
}

@media (max-width: 932px) {
  .container {
    font-size: 2.4vh;
  }
}
