* {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(243, 239, 235); /* Firefox */
}

@font-face {
  font-family: NohemiLight;
  src: url("/Nohemi/Nohemi-Light.ttf");
}

@font-face {
  font-family: NohemiRegular;
  src: url("/Nohemi/Nohemi-Regular.ttf");
}

@font-face {
  font-family: NohemiSemiBold;
  src: url("/Nohemi/Nohemi-SemiBold.ttf");
}

@font-face {
  font-family: NohemiBlack;
  src: url("/Nohemi/Nohemi-Black.ttf");
}

@font-face {
  font-family: Humane;
  src: url("/Humane-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Archivo;
  src: url("/ArchivoNarrow.ttf") format("truetype");
}
