* {
  margin: 0;
  font-family: "Archivo";
}

@font-face {
  font-family: Humane;
  src: url("/Humane-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Archivo;
  src: url("/ArchivoNarrow.ttf") format("truetype");
}

p {
  font-family: "Archivo";
}
