* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(243, 239, 235); /* Firefox */
}

body {
  overflow-x: hidden;
  width: 100%;
}

main {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: NohemiLight;
  src: url("/Nohemi/Nohemi-Light.ttf");
}

@font-face {
  font-family: NohemiRegular;
  src: url("/Nohemi/Nohemi-Regular.ttf");
}

@font-face {
  font-family: NohemiSemiBold;
  src: url("/Nohemi/Nohemi-SemiBold.ttf");
}

@font-face {
  font-family: NohemiBlack;
  src: url("/Nohemi/Nohemi-Black.ttf");
}

@font-face {
  font-family: Humane;
  src: url("/Humane-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Archivo;
  src: url("/ArchivoNarrow.ttf") format("truetype");
}

@media (max-width: 768px) {
  main {
    max-width: 768px;
  }
}
