.container {
  position: relative; /* Changed to relative so that sticky can work within this context */
}

.projectTitle {
  font-family: "NohemiBlack";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
